body {
    padding: 0;
    background-color: var(--cor8--);
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    transition: all 0.3s;
}

:root {
    --cor1--: #539690;
    --cor2--: #5ca3a5;
    --cor3--: #4999DB;
    --cor4--: #4C555C;
    --cor5--: #292E33;
    --cor6--: #202B33;
    --cor7--: #85c8ff;
    --cor8--: white;
    --cor9--: rgb(247, 247, 247);
        --cor10--: #5ca3a527;
    --cor11--: #292e3369;
}

.home{
    margin-left: -40px;
}

/* MENU */

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    color: var(--cor6--);
}

.menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--cor9--);
}


span {
    color: var(--cor2--);
}



.nav-itens {
    list-style: none;
    display: flex;
    margin: 0;
}

a{
    text-decoration: none;
}

li a {
    color: var(--cor6--);
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px 5px 10px;

}

.nav-itens a:hover{
    transition: all .3s;
    text-decoration: underline;
    
    
}

.link-login-li:hover{
    transition: all 0.3s;

}

.link-login-li{
    color: var(--cor6--);
}

.btn .login-1 { 
    padding: 6px 0px;
    border: none;
    background-color: var(--cor8--);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
}

.btn .cadastro {
    padding: 6px 0px;
    border: none;
    background-color: var(--cor2--);
    color: var(--cor6--);
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
}

.link-login {
    color: var(--cor6--);
    text-decoration: none;
    padding: 8px 32px;
}

.link-cadastro{
    color: var(--cor8--);
    text-decoration: none;
    padding: 6px 32px;
}

.link-cadastro:hover{
    color: var(--cor8--);
    border-radius: 5px;
    transition: all 0.3s;
}

.cadastro:hover{
    transition: all .3s;
    color: white;
}

a{
    text-decoration: none;
}

.link-login{
    font-weight: 600;
    color: var(--cor6--);
    text-decoration: none;
    padding: 5px 10px;

}

.link-login a{
    color: var(--cor6--);
}

.link-cadastro{
    font-weight: 600;
    color: var(--cor8--);
    text-decoration: none;
    padding: 5px 10px;

}

.link-cadastro a{
    color: var(--cor8--);
}

.cadastro-li{
    display: none;
}

.login-li{
    display: none;
}

.login-1:hover, .cadastro:hover{
    transform: scale(1.02);
    transition: all .5s;
    opacity: 80%;
}

/* FIM MENU */

/* SLIDE 1 */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 90px 10%;
    overflow: hidden;
    background: linear-gradient(to top, #5ca3a548, var(--cor9--));
    z-index: -1; /* Ensures it stays under the menu */
}
  
.hero-text {
    max-width: 600px;
    z-index: 1;
}
  
.hero h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
  
.cor-de-texto {
    color: var(--cor6--);
}
  
.texto-destaque {
    background-color: var(--cor1--);
    color: white;
    padding: 4px 14px;
    border-radius: 5px;
    display: inline-block;
    transform: rotate(-3deg);
}
  
.p-slide1 {
    font-size: 16px;
    color: var(--cor2--);
    margin-bottom: 30px;
}
  
.subscribe-btn {
    display: inline-block;
    background-color: var(--cor2--);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
}
  
.subscribe-btn:hover {
    background-color: var(--cor1--);
}
  
.icon-coracao {
    background-color: white;
    color: var(--cor2--);
    border-radius: 50%;
    padding: 4px 8px;
    margin-right: 8px;
    font-weight: bold;
}
  
.hero-img .img {
    max-width: 400px;
    width: 100%;
    z-index: 1;
    position: relative;
    mix-blend-mode: multiply;
}

.hex2 {
    bottom: 40px;
    left: 80px;
    border-color: var(--cor2--);
    transform: scale(0.7);
}
  
/* FIM SLIDE 1 */

/* CARDS */

.cards {
    justify-content: center;
    display: flex;
    padding: 32px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cor9--);
    padding: 1rem;
    border-radius: 8px;
    max-height: 256px;
    margin-left: 32px;
    box-shadow: 20px 20px 50px -30px var(--cor6--);
    transition: all 0.3s;
    cursor: pointer;
    max-width: 300px;   
}

.card :hover {
    transform: scale(1.02);
    transition: all 0.3s;
}

.cards .card h3.materia{
    font-size: 1rem;
    color: var(--cor6--);
    font-weight: 600;
    margin: 10px 0 0 0;
}

.card a {
    color: var(--cor6--);
}


.cards .card:first-child {
    margin-left: 0;
}

.cards .card img.icon{
    width: 64px;
    height: 64px;
}


/* FIM MENU */

/* INICIO */

.tittle{
    font-size: 1.5rem;
    color: var(--cor4--);
    font-weight: 500;
    margin: 20px auto 40px auto;
    text-align: start;
    margin-bottom: 20px;
    max-width: 90%;
    line-height: 50px;

}

.container{
    width: 90%;
    background-color: var(--cor9--);
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    margin: 0 auto;
}

.tab-box .tab-btn.active {
    color: var(--cor2--);
}

.tab-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.3px solid var(--cor10--);
    font-size: 10px;
    font-weight: 300;
    position: relative;
}

.tab-box .tab-btn{
    font-size: 18px;
    font-weight: 600;
    color: var(--cor4--);
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.content-box{
    padding: 20px;
}

.content-box .content{
    display: none;
}

.content-box .content.active{
    display: block;
}

.content-box .content h2{
    margin-bottom: 10px;
    font-weight: 500;
}

.line{
    position: absolute;
    top: 40px;
    left: 17px;
    width: 90px;
    height: 2px;
    background-color: var(--cor2--);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.cards {
    justify-content: center;
    display: flex;
    padding: 32px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cor9--);
    padding: 1rem 1rem;
    border-radius: 8px;
    margin-left: 32px;
    box-shadow: 20px 20px 50px -30px var(--cor6--);
    transition: all 0.3s;
    cursor: pointer;
    max-width: 300px;   
    height: 128px;
    width: 128px;
}

.card :hover {
    transform: scale(1.02);
    transition: all 0.3s;
}

.cards .card h3 {
    font-size: 1.5rem;
    color: var(--cor6--);
    font-weight: 500;
    margin: 10px 0 0 0;
}

.cards .card p {
    font-size: 1rem;
    color: var(--cor6--);
    font-weight: 300;
    margin: 10px 0 20px 0;
}

.cards .card:first-child {
    margin-left: 0;
}

.cards .card .icon{
    width: 64px;
    height: 64px;
}

.cards .card img {
    width: 100%;
}

/* FOOTER */

.logo-footer {
    filter: brightness(0) invert(1) contrast(1.2) saturate(1.5);
    margin-top: 20px;
}

.icons{
    filter: brightness(0) invert(1) contrast(1.2) saturate(1.5);

}

footer {
    background-color: var(--cor6--);
    color: white;
    padding: 40px 20px;
    font-family: sans-serif;
  }
  
  .newsletter {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .newsletter h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .newsletter-form {
    margin-top: 15px;
  }
  
  .newsletter-form input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 3px;
  }
  
  .newsletter-form button {
    padding: 10px 15px;
    background-color: var(--cor8--);
    color: var(--cor6--);
    font-weight: bold ;
    border: none;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 30px;
  }
  
  .footer-logo {
    max-width: 250px;
    margin-bottom: 30px;
  }
  
  .logo-icon {
    color: var(--cor8--);
    font-weight: bold;
  }
  
  .code {
    color: #ccc;
  }
  
  .footer-links {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
  
  .footer-links h4 {
    color: var(--cor8--);
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 5px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .social .icons a img {
    width: 24px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
  }

@media (max-width: 769px) {
        body {
        width: 100%;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    .menu1 {
        justify-content: center;
        position: relative;
    }

    .menu-toggle {
        position: absolute  ;
        left: 10px;
        display: block;
        font-size: x-large;
        font-weight: 700;
        z-index: 500;
        margin: 0;
    }

    .home {
        display: block;
        margin-left: 0px;
    }

    .links {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--cor9--);
        padding: 40px 0px 100% 0;
        justify-content: start;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
        font-weight: 200;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .links.active {
        display: block;
    }

    .nav-itens {
        margin-top: 20px;
        margin-left: -30px;
        list-style: none;
        text-align: start;
        display: flex;
        padding-right: 30px;
        flex-direction: column;
        gap: 10px;
        background-color: var(--cor9--);
    }

    .cadastro {
        display: none;
    }

    .login-1 {
        display: none;
    }

    .login-li,
    .cadastro-li {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.274);
    }

    .login-li {
        background-color: var(--cor8--);
        color: var(--cor6--);
        border: none;
    }

    .cadastro-li {
        background-color: var(--cor2--);
        color: white;
        border: none;

    }

    .cadastro-lo li {
        color: var(--cor8--);

    }

    .cadastro-li a,
    .login-li a {
        width: 100%;
        text-align: center;
        border: none;
    }
    /* FIM MENU */
}