body {
    padding: 0;
    background-color: var(--cor9--);
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor1--: #539690;
    --cor2--: #5ca3a5;
    --cor3--: #4999DB;
    --cor4--: #4C555C;
    --cor5--: #292E33;
    --cor6--: #202B33;
    --cor7--: #85c8ff;
    --cor8--: white;
    --cor9--: rgb(247, 247, 247);
}

.home{
    margin-left: -40px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    color: var(--cor6--);
}

.menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--cor9--);
}


span {
    color: var(--cor2--);
}

.logo {
    font-size: 20px;
    font-weight: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
    margin: 0;
    color: var(--cor6--);
}

.nav-itens {
    list-style: none;
    display: flex;
    margin: 0;
}

a{
    text-decoration: none;
}

li a {
    color: var(--cor6--);
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px 5px 10px;

}

li a:hover {
    transition: all .3s;
    text-decoration: underline;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.062);
}

.btn .login-1 { 
    padding: 6px 0px;
    border: none;
    background-color: var(--cor8--);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
}

.btn .cadastro {
    padding: 6px 0px;
    border: none;
    background-color: var(--cor2--);
    color: var(--cor6--);
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
}

.link-login {
    color: black;
    text-decoration: none;
    padding: 8px 32px;
}

.link-login:hover{
    transition: all 0.3s;

}

.link-cadastro{
    color: var(--cor8--);
    text-decoration: none;
    padding: 6px 32px;
}
  
.login{
    height: 70vh;
    width: 70%;
    display: flex;
    margin: 50px auto;
    background-color: var(--cor8--);
    box-shadow: 1px 1px 10px #00000088;
    border-radius: 10px;
    transition: 1s;
}


.login>.login-part1 {
    width: 40%;
    height: 100%;
    background: linear-gradient(to bottom left, var(--cor2--,), var(--cor1--), var(--cor2--), var(--cor1--));
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.781);
    color: var(--cor8--);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Centraliza verticalmente */
    align-items: center;       /* Centraliza horizontalmente */
    text-align: center;
    padding: 0 20px;
}

.login > .login-part2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.h1-login{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 120px;
}

.p-login{
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 3px;
    margin: -30px auto 20px auto;
}

.p-texto{
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    margin:10px auto;
}


.h1-login, .p-login, .p-texto {
    margin: 10px 0;
    text-align: center;
}

.p-texto2{
    font-size: 10px;
    font-weight: 100;
    margin: 0 40px;
    letter-spacing: 2px;
}

.form-container {
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 0px;

}

.p-conteudo{
    letter-spacing: 2px;
    font-size: 12px;
    margin: 30px 0 0px 0;
    text-transform: uppercase;  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
.title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 30px 40px 10px 40px;
    font-size: 28px;
    font-weight: 800;
}

.input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}
      
.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}

.form-btn{
    width: 100%;
    padding: 8px 60px;
    border: none;
    background: linear-gradient(to bottom left, var(--cor2--,), var(--cor1--), var(--cor2--), var(--cor1--));
    color: var(--cor8--);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.274);
    transition: 1s;
}

.form-btn:hover, .login-1:hover, .cadastro:hover{
    transform: scale(1.02);
    transition: all .5s;
    opacity: 80%;
}

.link-login{
    font-weight: 600;
    color: var(--cor6--);
    text-decoration: none;
    padding: 5px 10px;

}

.link-login a{
    color: var(--cor2--);
}

.link-cadastro{
    font-weight: 600;
    color: var(--cor8--);
    text-decoration: none;
    padding: 5px 10px;

}

.link-cadastro a{
    color: var(--cor8--);
}

.cadastro-li{
    display: none;
}

.login-li{
    display: none;
}

@media (max-width: 769px) {
    body {
        width: 100%;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    .menu1 {
        justify-content: center;
        position: relative;
    }

    .menu-toggle {
        position: absolute;
        left: 10px;
        display: block;
        font-size: x-large;
        font-weight: 700;
        z-index: 500;
        margin: 0;
    }

    .home {
        display: block;
        margin-left: 0px;
    }

    .links {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--cor9--);
        padding: 40px 0px 100% 0;
        justify-content: start;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .login {
        width: 70%;
        max-width: 100%;
        margin: 40px auto;
        padding: 30px 20px;
        background-color: var(--cor8--);
        border-radius: 12px;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login > .login-part1 {
        display: none;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .input {
        width: 100vh;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .form a {
        font-size: 13px;
        text-align: right;
        width: 100%;
        margin-bottom: 20px;
        color: #3b5b7e;
        text-decoration: none;
    }

    .form a:hover {
        text-decoration: underline;
    }

    .form-btn {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        background-color: var(--cor2--);
        color: var(--cor8--);
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .form-btn:hover {
        background-color: var(--cor4--);
        transition: 0.3s;
    }

    .form .register-link {
        font-size: 13px;
        text-align: center;
        margin-top: 10px;

    }

    .logo {
        font-weight: 200;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .links.active {
        display: block;
    }

    .nav-itens {
        margin-top: 20px;
        margin-left: -30px;
        list-style: none;
        text-align: start;
        display: flex;
        padding-right: 30px;
        flex-direction: column;
        gap: 10px;
        background-color: var(--cor9--);
    }

    .cadastro {
        display: none;
    }

    .login-1 {
        display: none;
    }

    .login-li,
    .cadastro-li {
        display: flex;
        justify-content: center;
        width: 100%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.274);
    }

    .login-li {
        background-color: var(--cor8--);
        color: var(--cor6--);
        border: none;
    }

    .cadastro-li {
        background-color: var(--cor2--);
    }

    .cadastro-li a,
    .login-li a {
        width: 100%;
        text-align: center;
    }

    .title{
        width: 100%;
        font-size: 34px;
        font-weight: 800;
        margin: 0;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .p-texto2{
        width: 100%;
        font-size: 12px;
        font-weight: 100;
        margin: 0 40px;
        letter-spacing: 2px;
        text-align: center;

    }
}

@media (min-width: 1200px) {
    .login {
        width: 60%;
        height: 80vh;
    }

    .form {
        width: 100%;
    }

    .title {
        font-size: 32px;
    }

    .input {
        font-size: 16px;
        padding: 15px 20px;
    }

    .form-btn {
        font-size: 18px;
        padding: 10px 70px;
    }

    .logo {
        font-size: 1rem;
    }
}