body {
    padding: 0;
    background-color: var(--cor8--);
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    transition: all 0.3s;
}

:root {
    --cor1--: #539690;
    --cor2--: #5ca3a5;
    --cor3--: #4999DB;
    --cor4--: #4C555C;
    --cor5--: #292E33;
    --cor6--: #202B33;
    --cor7--: #85c8ff;
    --cor8--: white;
    --cor9--: rgb(247, 247, 247);
        --cor10--: #5ca3a527;
    --cor11--: #292e3369;
}

.home{
    margin-left: -40px;
}

/* MENU */

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    color: var(--cor6--);
}

.menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--cor9--);
}


span {
    color: var(--cor2--);
}



.nav-itens {
    list-style: none;
    display: flex;
    margin: 0;
}

a{
    text-decoration: none;
}

li a {
    color: var(--cor6--);
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px 5px 10px;

}

.nav-itens a:hover{
    transition: all .3s;
    text-decoration: underline;
    
    
}

.link-login-li:hover{
    transition: all 0.3s;

}

.link-login-li{
    color: var(--cor6--);
}

.btn .login-1 { 
    padding: 6px 0px;
    border: none;
    background-color: var(--cor8--);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
}

.btn .cadastro {
    padding: 6px 0px;
    border: none;
    background-color: var(--cor2--);
    color: var(--cor6--);
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
}

.link-login {
    color: var(--cor6--);
    text-decoration: none;
    padding: 8px 32px;
}

.link-cadastro{
    color: var(--cor8--);
    text-decoration: none;
    padding: 6px 32px;
}

.link-cadastro:hover{
    color: var(--cor8--);
    border-radius: 5px;
    transition: all 0.3s;
}

.cadastro:hover{
    transition: all .3s;
    color: white;
}

a{
    text-decoration: none;
}

.link-login{
    font-weight: 600;
    color: var(--cor6--);
    text-decoration: none;
    padding: 5px 10px;

}

.link-login a{
    color: var(--cor6--);
}

.link-cadastro{
    font-weight: 600;
    color: var(--cor8--);
    text-decoration: none;
    padding: 5px 10px;

}

.link-cadastro a{
    color: var(--cor8--);
}

.cadastro-li{
    display: none;
}

.login-li{
    display: none;
}

.login-1:hover, .cadastro:hover{
    transform: scale(1.02);
    transition: all .5s;
    opacity: 80%;
}

/* FIM MENU */

/* SLIDE 1 */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 90px 10%;
    overflow: hidden;
    background: linear-gradient(to top, #5ca3a548, var(--cor9--));
    z-index: -1; /* Ensures it stays under the menu */
}
  
.hero-text {
    max-width: 600px;
    z-index: 1;
}
  
.hero h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
  
.cor-de-texto {
    color: var(--cor6--);
}
  
.texto-destaque {
    background-color: var(--cor1--);
    color: white;
    padding: 4px 14px;
    border-radius: 5px;
    display: inline-block;
    transform: rotate(-3deg);
}
  
.p-slide1 {
    font-size: 16px;
    color: var(--cor2--);
    margin-bottom: 30px;
}
  
.subscribe-btn {
    display: inline-block;
    background-color: var(--cor2--);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
}
  
.subscribe-btn:hover {
    background-color: var(--cor1--);
}
  
.icon-coracao {
    background-color: white;
    color: var(--cor2--);
    border-radius: 50%;
    padding: 4px 8px;
    margin-right: 8px;
    font-weight: bold;
}
  
.hero-img .img {
    max-width: 400px;
    width: 100%;
    z-index: 1;
    position: relative;
    mix-blend-mode: multiply;
}

.hex2 {
    bottom: 40px;
    left: 80px;
    border-color: var(--cor2--);
    transform: scale(0.7);
}
  
/* FIM SLIDE 1 */

/* CARDS */

.cards {
    justify-content: center;
    display: flex;
    padding: 32px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cor9--);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 256px;
    margin-left: 32px;
    box-shadow: 20px 20px 50px -30px var(--cor6--);
    transition: all 0.3s;
    cursor: pointer;
    max-width: 300px;   
}

.card :hover {
    transform: scale(1.02);
    transition: all 0.3s;
}

.cards .card h3 {
    font-size: 1.5rem;
    color: var(--cor6--);
    font-weight: 500;
    margin: 10px 0 0 0;
}

.cards .card p {
    font-size: 1rem;
    color: var(--cor6--);
    font-weight: 300;
    margin: 10px 0 20px 0;
}

.cards .card:first-child {
    margin-left: 0;
}

.cards .card .icon{
    width: 64px;
    height: 64px;
}

.cards .card img {
    width: 100%;
}

.cards .card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 12px;
    cursor: pointer;
    font-size: 80%;
    font-weight: 600;
    border: none;
}

.cards .card.agenda button, .atividades button, .material button{
    background: linear-gradient(to right, var(--cor4--), var(--cor5--), var(--cor6--));

} 

.cards .card.agenda button:hover, .atividades button:hover, .material button:hover{
    background: linear-gradient(to right, var(--cor2--), var(--cor2--), var(--cor1--));
}


button  a {
    color: var(--cor8--);
}

/* FIM CARDS */

.slide2-part1{
    margin-top: 100px;
    display: block;
    width: 100%;
    text-align: center;
}

.h1-slide2{
    font-size: 3.5rem;
    color: var(--cor6--);
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;

}

.p-slide2{
    font-size: 1.5rem;
    color: var(--cor6--);
    font-weight: 300;
    margin: 0 auto;
    max-width: 700px;
}
  
/* */

/* slide 3 */

.ondas{
    margin-top: -140px;
    margin-bottom: -4px;
    padding: 0;
}

.slide3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292e333b;
}

.box-slide3:hover{
    scale: 1.009;
}

.box-slide3{
    background: url(imagens/fundo.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 20px 20px 10px 0px #00000036;
}

.dentro-box{
    
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    
}

.slide3-part1 img {
    height: 400px;
    margin-top: 20px;
    filter: drop-shadow(10px 10px 30px rgba(70, 153, 156, 0.3));
}

.slide3-part2{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    padding: 20px;
}

.h1-slide3{
    margin: 0;
    color: var(--cor6--);
    text-align: end;
    font-size: 2.5rem;
    line-height: 37px;
}

.p-slide3{
    color: var(--cor6--);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: end;
    margin: 20px 0px 30px 0;
}

.slide3 .btn-slide3{
    display: inline-block;
    border: 3px solid var(--cor2--);
    color: var(--cor2--);
    padding: 12px 4px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
}

.slide3 .btn-slide3:hover {
    background-color: var(--cor2--);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
    transform: scale(1.02);
    transition: all 0.3s;
}

/* fim slide 3*/

/* */

.container{
    background-color: var(--cor9--);


}

.card-list .card-item{
    list-style: none;
}

.card-wrapper {
    max-width: auto;
    margin: 0 60px 35px;
    padding: 20px 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper:first-child{
    margin-left: -0px;
}

.card-list .card-item .card-link:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-list .card-item .card-link {
    width: 350px;
    display: block;
    background-color: var(--cor8--);
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin: 0 auto; /* Centralizes the card */
    justify-content: center;
}

.card-list .card-link .card-image{
    height: 100px;
    border-radius: 12px;
    padding: 15px;
    background-color: var(--cor9--);
}

.card-list .card-link .badge{
    color: var(--cor2--);
    padding: 8px 16px;
    font-size: 0.95rem;
    background-color: var(--cor10--);
    margin: 16px 0 18px;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}

.card-image-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.image-inform{
    flex-direction: column;
}

.image-tittle{
    padding: 5px;
    border-radius: 12px;
    margin: 0 0 0 10px;
}

.image-text{
    margin: 0 0 10px 10px;
    padding: 5px;
    border-radius: 12px;
    color: var(--cor11--);
    
}

.card-button{
    background: transparent;
    color: var(--cor2--);
    border: 4px solid var(--cor2--);
    font-size: 1.4rem;
    border-radius: 100%;
    rotate: -20deg;
}

.card-link:hover .card-button{
    background-color: var(--cor2--);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);
    transform: scale(1.02);
    transition: all 0.3s;
}

.symbol{
    margin: 0 0 0 10px;
    border: 3px solid var(--cor2--);
    color: var(--cor2--);
    padding: 2px 12px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
}

.card-tittle{
    color: var(--cor6--);
    font-size: 1.2rem;
    margin: 0 0 20px 0;
}

.swiper-button-next, .swiper-button-prev {
    filter: brightness(0) invert(0.5) sepia(1) hue-rotate(145deg) saturate(2) brightness(1.2) drop-shadow(0 0 0 #5ca3a5);
}

.slide4{
    background-color: var(--cor9--);
}

.slide4 .h1-slide2{
    position: relative;
    top: 30px;
    margin-bottom: 30px;
}

.slide4 .p-slide2{
    text-align: center;
}

/* */

.logo-footer {
    filter: brightness(0) invert(1) contrast(1.2) saturate(1.5);
    margin-top: 20px;
}

.icons{
    filter: brightness(0) invert(1) contrast(1.2) saturate(1.5);

}

footer {
    background-color: var(--cor6--);
    color: white;
    padding: 40px 20px;
    font-family: sans-serif;
  }
  
  .newsletter {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .newsletter h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .newsletter-form {
    margin-top: 15px;
  }
  
  .newsletter-form input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 3px;
  }
  
  .newsletter-form button {
    padding: 10px 15px;
    background-color: var(--cor8--);
    color: var(--cor6--);
    font-weight: bold ;
    border: none;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 30px;
  }
  
  .footer-logo {
    max-width: 250px;
    margin-bottom: 30px;
  }
  
  .logo-icon {
    color: var(--cor8--);
    font-weight: bold;
  }
  
  .code {
    color: #ccc;
  }
  
  .footer-links {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
  
  .footer-links h4 {
    color: var(--cor8--);
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 5px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .social .icons a img {
    width: 24px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
  }


@media (max-width: 769px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 5%;
        background: linear-gradient(to top, #5ca3a536, var(--cor9--));
      }
    
      .hero-text {
        max-width: 100%;
      }
    
      .hero h1 {
        font-size: 32px;
      }
    
      .hero-img {
        margin-top: 30px;
      }
    
      .hero-img img {
        max-width: 300px;
      }
    
      .subscribe-btn {
        font-size: 14px;
        padding: 10px 20px;
      }
    
      .icon {
        padding: 4px 6px;
        margin-right: 6px;
      }
    
      .hex1 {
        top: 10px;
        right: 20px;
        width: 50px;
        height: 50px;
      }
    
      .hex2 {
        bottom: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
      }
    
      .stripe {
        width: 80px;
        height: 50px;
      }

    body {
        width: 100%;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    .menu1 {
        justify-content: center;
        position: relative;
    }

    .menu-toggle {
        position: absolute  ;
        left: 10px;
        display: block;
        font-size: x-large;
        font-weight: 700;
        z-index: 500;
        margin: 0;
    }

    .home {
        display: block;
        margin-left: 0px;
    }

    .links {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: var(--cor9--);
        padding: 40px 0px 100% 0;
        justify-content: start;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
        font-weight: 200;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .links.active {
        display: block;
    }

    .nav-itens {
        margin-top: 20px;
        margin-left: -30px;
        list-style: none;
        text-align: start;
        display: flex;
        padding-right: 30px;
        flex-direction: column;
        gap: 10px;
        background-color: var(--cor9--);
    }

    .cadastro {
        display: none;
    }

    .login-1 {
        display: none;
    }

    .login-li,
    .cadastro-li {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.274);
    }

    .login-li {
        background-color: var(--cor8--);
        color: var(--cor6--);
        border: none;
    }

    .cadastro-li {
        background-color: var(--cor2--);
        color: white;
        border: none;

    }

    .cadastro-lo li {
        color: var(--cor8--);

    }

    .cadastro-li a,
    .login-li a {
        width: 100%;
        text-align: center;
        border: none;
    }
    /* FIM MENU */

    /* CARDS */
    .slide2-part2 {
        overflow-y: auto;
        max-height: 100vh;
        padding-right: 15px; /* Adds space for scrollbar without overlapping content */
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: var(--cor11--) var(--cor9--); /* Custom scrollbar colors */
        width: 70%;
        margin: 0 auto;
    }

    .slide2-part2::-webkit-scrollbar {
        width: 8px;
    }

    .slide2-part2::-webkit-scrollbar-thumb {
        background-color: var(--cor8--); 
        border-radius: 4px;
    }

    .slide2-part2::-webkit-scrollbar-track {
        background-color: var(--cor9--); /* Scrollbar track color */
    }

    .cards{
        margin-top: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        scale: 0.9;
    }

    .cards .card {
        margin: 20px 0 20px 0
    }

    #cards2{
        margin-top: -20px;
    }

    .cards .cars:last-child{
        margin-bottom: 0px;
    }

    .cards .card:first-child{
        margin-top: -20px;
    }

    /* SLIDE 1*/

    .slide1{
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .h1-slide{
        font-size: 30px;
        line-height: 30px;
    }

    .p-slide{
        font-size: 20px;
    }

    .slide1-part2 img{
        width: 100%;
        height: 100%;
        display: block;

    }

    .h1-slide2{
        font-size: 30px;
        margin-bottom: 0;
        font-weight: 700;
    }

    .p-slide2{
        font-size: 18px;
        font-weight: 300;
        margin-top: 0;
        max-width: 80%;
    }

    /* SLIDE 3 */
    
    .slide3{
        width: 100%;
        margin: 0;
        height: 50vh;
        margin-top: 0px;
    }

    .ondas{
        display: none;
    }

    .slide3-part1, .slide3-part2{
        scale: 0.7;
        margin: 0;
    }

    .h1-slide3{
        font-size: 2.7rem;
        line-height:40px;
    }

    .p-slide3{
        font-weight: 300;
        margin: 10px 0;
    }

    .slide3-part2{
        margin: 0;
        padding: 0;
        position: relative;
        right: 30px;
    }

    .dentro-box{
        margin: 0% -200px;
    }

    .btn-slide3{
        background-color: var(--cor9--);
    }

    .slide3 img {
        height: 260px;
        margin-top: 20px;
        position: relative;
        left: 30px;
        margin: 20px 0 0 0;
    }

    .box-slide3:hover{
        scale: none;
    }

    /* */

    .card-wrapper {
        margin: 0 auto 35px; /* Centralizes the card wrapper */
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .card-wrapper:first-child {
        margin-left: auto; /* Ensures the first card wrapper is also centered */
    }

    .card-list .card-item .card-link {
        display: block;
        background-color: var(--cor8--);
        padding: 18px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        margin: 0 auto; /* Centralizes the card */
        justify-content: center;
        position: relative;
        scale: 0.8;
        left: -20px;
    }

    .card-list .card-link .card-image {
        height: 100px;
        border-radius: 12px;
        padding: 15px;
        background-color: var(--cor9--);
    }

    .card-button{
        border-radius: 12px;
        padding: 5px 8px;
        border-radius: 100%;
    }

}

@media (min-width: 1200px) {
    .login {
        width: 60%;
        height: 80vh;
    }
    .logo {
        font-size: 1rem;
    }

    .slide1{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
